body{
        font-family: 'Open Sans' !important;
        position: relative;
}

section{
    min-height: 100%;
    padding: 100px 0;
}

section hr{
    max-width: 50px;
    border-width: 3px;
}

.navbar-fixed-top{
    background: #222222;
    border-bottom: 1px solid #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.navbar-fixed-top a{
    color: #fff;
}

.affix{
}

.navbar-right li a:hover{
    color: #fafafa;
    background: rgba(#ffffff, 0.7) !important;
}

.navbar-right li a:hover, .navbar-right li a:focus{
    background: transparent;
}

.navbar-right li.active a{
    color: #2a2a2a;
    background-image: -webkit-linear-gradient(top,#ffffff 0,#e2e2e2 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#e2e2e2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#e2e2e2));
    background-image: linear-gradient(to bottom,#ffffff 0,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.navbar-fixed-top li.active a:hover{
    color: #2a2a2a;
}

.jumbotron{
    background-color: transparent;
}

#Home.bg-primary{
    background-color: #982f2f;
}
#About.bg-primary{
    background-color: #3248a6;
}
#Gallery.bg-primary{
    background-color: #427e3e;
}
#Blog.bg-primary{
    background-color: #bdc435;
}

#Contact.bg-primary{
    background-color: #883182;
}

#form_container{
    margin-top: 50px;
}
